



<div class="container projects">
	<div class="row">
		<div class="col-sm-6 image">
			<span class="cat">{{ nodes[0].cat }}</span>
			<img src="{{ nodes[0].img }}" >
		</div>
		<div class="col-sm-6">
			<span class="cat">{{ nodes[1].cat }}</span>
			<img src="{{ nodes[1].img }}" >
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<span class="cat">{{ nodes[2].cat }}</span>
			<img src="{{ nodes[2].img }}" >
		</div>
		<div class="col-sm-6">
			<span class="cat">{{ nodes[3].cat }}</span>
			<img src="{{ nodes[3].img }}" >
		</div>
	</div>
	<a href="allprojects" class=""><button class="btn btn-info" >Se vår portfolio</button></a>
</div>







